[Desktop Entry]
Type=Application
Name=HookEcho
Comment=Advanced NEXRAD weather radar viewer
Exec=hookecho %u
Icon=hookecho
Terminal=false
Categories=Science;Geoscience;Education;
Keywords=weather;radar;nexrad;storm;forecast;
MimeType=x-scheme-handler/hookecho;
StartupWMClass=hookecho
